<article class="article" itemprop="blogPost">
    <div class="post-body">
        <div class="post-main">

            <div class="post-content" id="post-content" itemprop="postContent">
            <%- page.content %>
        </div>
    </div>
</article>