<section class="tags-wrap">
  <h2 class="tags-title"><%= theme.categories.title%></h2>
  <%- list_categories({
        transform: function (t,s,d) {
            return '#' + t;
        }
    }) %>  
</section>